
body {
  background: linear-gradient(to top, #fff 94%, #212121 0%);
}
@media (max-width: 760px){
.profile{
 display: grid;
 grid-template-columns: 1f 1f;
  grid-auto-rows: minmax(20px, auto);
  grid-row-gap: 5px;
  padding-top: 20px;
  margin: 0 auto
}
.avatar {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 80px
}
.name {
  font-size: 30px;
  align-self: center;
  justify-self: center;
  margin-top: 15px;
}
.title {
  color: gray;
  align-self: center;
  justify-self: center;
}
.description {
  color: gray;
  padding: 10px;
  text-align: justify
}
.socials {
  color: #222222;
  align-self: center;
  justify-self: center;
}
}
.profile {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
}
.footer h4 {
  color: crimson;
}
.socials  > ul > li {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.skills {
  overflow-x: auto;
  max-width: 100vw;
}
.skills li {
  background: whitesmoke;
  border: 1px solid #ccc;
  margin-right: 5px;
  display: inline;
 
  padding: 5px;
}
ul li a {
  color: #ffffff;
}
@media (min-width: 1025px) and (max-width: 3280px){
  .profile{
    display: grid;
    grid-template-columns: 18% 50% 20%;
     grid-template-rows: 40px 25px 40px 25px auto;
     grid-row-gap: 5px;
     padding-top: 50px;
  }
  .avatar {
    grid-column: 1/1;
    grid-row: 1/5;
    width: 200px;
    height: 200px;
    border-radius: 100%
  }
  .name {
    grid-column: 2;
    grid-row: 3;
    font-size: 30px;
    margin-top: 20px;
  }
  .title {
    grid-row: 4;
    color: gray;
    font-size: 20px;
    margin-top: 10px;
  }
  .skills {
    grid-column: 2;
    grid-row: 5;
    color: gray;
    margin-top: 10px;
  }
  
  .description {
    grid-column: 2;
    grid-row: 6;
    color: gray;
    margin-top: 10px;
  }
  .socials {
    grid-column: 2;
    grid-row: 7;
    color: gray
  }

}
.profile > p > a {
color: gray;
text-decoration-line: underline
}
.profile > p  :hover {
  color: rgb(119, 143, 253);
  text-decoration-line: underline
  }
.projects{
  border: 1px solid #ccc;
  width: 100%;
  padding-top: 15px;
}

.footer {
  background: #212121;
  margin-top: 20px;
}