
.profile{
 margin: 10px;
  background: #333;
  color: #ccc;
  padding: 20px;
  font-size: 15px;
}
.headline{
  text-align: center;
  top: 150x;
}
.profile > p > span {
  font-size: 25px;
  font-weight: bold;
  font-stretch: expanded;
  text-align: center;
}
.profile > p > a {
color: #ccc;
text-decoration-line: underline
}
.profile > p  :hover {
  color: rgb(119, 143, 253);
  text-decoration-line: underline
  }
.projects{
  border: 2px solid #3333;
  width: 100%;
  padding-top: 15px;
}

.footer {
  background: #ecf0f1;
  margin: 20px;
}